/* Countdown Timer Styling */
#countdown-timer {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* Tabs and tab content for tournament */
.tabs button {
    padding: 0.5rem;
    margin-right: 5px;
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.tabs button:hover {
    background-color: #E04000;
}

.tab-content {
    display: none;
    padding: 1rem;
    background-color: #FFF7E6;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tab-content h4 {
    color: var(--primary-color);
}

/* Styling for buttons and interactive sections */
button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E04000;
}

/* General section styling */
section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: #FFF5E1;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

